<footer class="main-footer">
    <div class="footer-content">
        <div class="footer-nav">
            <a href="/"><%= t.nav_home %></a>
            <a href="/support"><%= t.nav_support %></a>
            <a href="/terms"><%= t.nav_terms %></a>
            <a href="/privacy"><%= t.nav_privacy %></a>
        </div>
        <p class="copyright"><%= t.copyright %></p>
    </div>
</footer>